/*contact*/
.contact_section {
    width: 100%;
    float: left;
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: inherit;
}

.contact_section_2 {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0px;
}

.contact_taital_box {
    width: 100%;
    float: left;
    padding-top: 15px;
}

.contact_img {
    width: 900px;
    border-radius: 900px;
    height: 500px;
    box-shadow: 5px 2px 15px 10px;
    position: relative;
    left: 115px;
    overflow: hidden; /* Ensures image overflows are hidden */
    transform: translateZ(0); /* Helps with performance */
    background-attachment: fixed; /* Creates parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_taital_1 {
  width: 100%;
  float: left;
  font-size: 36px;
  color: #001B72;
  margin: 10px 0px;
  padding-top: 90px;
  line-height: 54px;
  font-weight: 300;
}

.contact_taital_2 {
  width: 100%;
  float: left;
  font-size: 30px;
  color: #001B72;
  margin: 10px 0px;
  padding-top: 120px;
}

.contact_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #001B72;
    font-weight: 400;
    font-family: poppins;
    line-height: 24px;
    /*margin: 0px;*/
}

.contact-image {
    margin-left: 20px;
    width: 900px;
    position: absolute;
    top: 165px;
}

.button-icon {
    width: 30px;
    padding-left: 10px;
}

/* Parallax Effect */
/*.parallax {
    position: relative;
    background-image: url('../img/Arcterio-architecture-project-process.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/


.parallax {
    background-image: url('../img/Arcterio-architecture-project-process.jpg');
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 900px;
    border-radius: 250px;
    left: 60px;
}
/*forms section*/

.contact-section-2 {
    background-image: linear-gradient(rgb(255 255 255 / 99%), rgb(244 243 243 / 82%)), url("../img/backgrounds/plan-3.png");
    background-size: cover;
    background-repeat: no-repeat;

}


.send-button {
    width: 180px;
    border-radius: 30px;
    padding: 0px 10px 0px 10px;
    height: 40px;
    background-color: #001B72;
    color: white;
    font-size: 14px;
    line-height: 18px;
}


#message {
    height: 130px;
}


.select-form {
    width: 400px;
    border-radius: 20px;
    height: 40px;
    position: absolute;
    top: 333px;
    right: 181px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

    .contact-image {
        position: absolute;
        right: 350px;
        z-index: -1;
        top: -335px;
        left: 251px;
        width: 100%;
    }


    .contact_img {
        width: 900px;
        border-radius: 900px;
        height: 400px;
        box-shadow: 5px 2px 15px 10px;
        position: relative;
        left: 20px;
        top:  50px;
    }
}