
/*footer*/

.main-footer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*min-height: 400px;*/
  /*height: 950px;*/
  min-height: 100rem;
  height: 100rem;
  padding: 100px 12vw;
  background-image: url(../img/footer/main-footer-container.png);
   /*background-color: #ffffff52; */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


footer h1 {
/*  color: white;
  font-size: 40px;
  font-family: 'Poppins';
  line-height: 65px;
  font-weight: 300;*/

  color: white;
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 2rem;
}

footer p{
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 2rem;
}

.vision {
  position: relative;
  top: 10vw;
  left: 10px;
}

.links {
  position: relative;
  top: 50rem;
  left: 14rem;
}


.links h3 {
  color: white;
  font-size: 14px;
  font-weight: 100;
  padding-bottom: 1rem;
}

.footer-button{
  background: orange;
  width: 170px;
  height: 45px;
  border-radius: 25px;
  font-family: poppins;
  font-size: 12px;
}

.footer-button img {
  padding-left: 2rem;
}